<div class="d-flex align-items-end flex-column mb-5" id="hero-section">
	
	<div class="flex-item mx-auto mt-auto p-3 text-center" id="hero-item">
		<h1>Selamat datang di {{ site.title }}</h1>
		<p>{{ site.description }}</p>
		<hr class="bg-light">
		<a href="#" class="btn btn-outline-light"><i class="fa fa-github"></i> Github</a>
		<a href="#" class="btn btn-outline-light"><i class="fa fa-twitter"></i> Twitter</a>
	</div>
	<div class="flex-item mx-auto mt-auto p-3 text-center" id="hero-item">
		<a href="#" class="arrlink">▼</a>
	</div>

</div>

<section class="core-features">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center p-5">
				<h1><i class="fa fa-dashboard"></i></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, nisi.</p>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center p-5">
				<h1><i class="fa fa-plug"></i></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas, minima!</p>
			</div>
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 text-center p-5">
				<h1><i class="fa fa-rocket"></i></h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, totam.</p>
			</div>
		</div>
	</div>
</section>

<section class="core-media mb-5">
	<div class="container">
		<div class="media">
			<img src="https://images.pexels.com/photos/541523/pexels-photo-541523.jpeg?w=940&h=650&auto=compress&cs=tinysrgb" alt="" class="d-flex flex-column align-self-center mr-3 w-50">
			<div class="media-body">
				<h5 class="mt-0">Lorem ipsum dolor sit amet.</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur illum corporis eaque adipisci ea rem debitis numquam maxime beatae aperiam?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt doloribus, officia, error voluptate veritatis amet, laborum ratione illum magni sed in, cum cupiditate sit fugit. Quis blanditiis, nihil dolorum officiis, magnam expedita. Modi eum accusamus ipsum officia illum. Odio quisquam sunt suscipit ea, voluptas eos dicta. Tenetur debitis dolore unde, id harum animi, et ducimus, aliquam expedita ratione earum dolorem?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium deleniti ut eaque voluptate blanditiis corporis impedit consequatur nam non earum deserunt aspernatur excepturi, animi accusantium ratione fugiat expedita recusandae esse aperiam itaque quaerat. Hic, veniam!</p>
			</div>
		</div>
	</div>
</section>